.form-group {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40%;
  margin-top: 10%;
  font-size: 25px;
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.crime-windows {
  display: flex;
}